mixin urlElement(url, showingPublic)
    .url
        a.btn.url__shorted(target="_blank" href=`/${url.target}`) /#{url.target}
        a.btn.url__org(target="_blank" href=`${url.orgUrl}`)= url.orgUrl
        span.url__visits #{url.visits} visits
        if !showingPublic
            span.url__state= url.public ? 'Public' : 'Private'
            button.btn.url__delete Delete